.DS_Store
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
*.key
*.jks
flavor_release
flavor_debug
*.apk
/signed_builds
google-services.json
caches/
gradle.properties
